* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oxygen', sans-serif;
}
.meme--container{
  width: 70%;
  margin: 0 auto;
  border: 1px solid lightskyblue;
}
.meme--header {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  padding: .7em;
  color: white;
  height: 70px;
}
.meme--logo {
  width: 50px;
  margin: .3em;
  margin-left: 1em;
}
.meme--title {
  font-size: 1.2rem;
  margin-right: auto;
}
.meme--course {
  font-size: .98rem;
  margin-right: 2em;
}